<!DOCTYPE html>
<html>
    <head>
        <title>Web Site</title>
        <link rel="stylesheet" type="text/css" href="/site.css" />
    </head>
    <body>
        <h1>Web Site</h1>
    </body>
</html>

